<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/syn-sample-script/src/org/antkar/syn/sample/script/ScriptMain.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.antkar.syn.sample.script.ScriptMain"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="sample/Utils.syns sample/Level.syns sample/World.syns sample/View.syns sample/Snake.syns -args Foo Bar"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="syn-sample-script"/>
</launchConfiguration>
